.grid {
	letter-spacing: -0.31em;
	text-rendering: optimizeSpeed;
	font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
	display: flex;
	flex-flow: row-wrap;
	align-content: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	table .grid {
		display: block;
	}
}

.only:-o-prefocus,
.grid {
	word-spacing: -0.43em;
}

.col {
	display: inline-block;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.grid [class *= "col"] {
	font-family: sans-serif;
}