.btn {
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;user-select: none;
	box-sizing: border-box;
}

.btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.btn-group {
	letter-spacing: -0.31em;
	text-rendering: optimizeSpeed;
}

.only:-o-prefocus,
.btn-group {
	word-spacing: -0.43em;
}

.btn-group .btn {
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}